#footer-title {
  font-family: "Comforter Brush", cursive;
}
.footer {
  width: 980px;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 50px;
}
.footer-content {
  text-align: center;
}
.social-media-links {
  list-style: none;
  display: flex;
  justify-content: center;
  .links {
    padding: 10px;
  }
  .links a {
    text-decoration: none;
    color: black;
  }
  .links a:hover {
    color: rgb(173, 55, 55);
    text-transform: uppercase;
  }
}
