* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 255, 255);
}
@import "./header";
@import "./footer";
@import "./variables";
#page-name {
  font-family: "Comforter Brush", cursive;
}

#bar-line {
  width: 980px;
  margin: auto;
  margin-top: 30px;
}

.panel {
  margin-top: 30px;
}
.grid-container {
  padding: 45px;
  display: grid;
  width: 980px;
  margin: auto;
  grid-template-columns: auto auto; /*number of colums */
  grid-template-rows: 150px 150px; /* height of the firs row*/
}
.colums {
  border-bottom: 1px dotted black;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}
.content {
  width: 350px;
  margin: auto;
  margin-top: 30px;
}
.libraries-titles a:hover {
  color: rgb(173, 55, 55);
  text-transform: uppercase;
}
.libraries-titles a {
  margin-left: 30px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}
.libraries-titles.library {
  margin-left: 17px;
}
.libraries-titles.html-css {
  margin-left: 17px;
}
.libraries-titles.concepts-java {
  margin-left: -30px;
}
.img-container {
  background-color: rgb(223, 148, 148);
  width: 290px;
  height: 340px;
  margin-top: 30px;
  margin-left: 30px;
}
.boxes {
  width: 180px;
  margin: auto;
}
img {
  margin-left: 30px;
  margin-top: 10px;
}
